.backing{
    background-image: url("https://image.freepik.com/free-photo/pile-3d-twitter-logos_1379-879.jpg") !important;
    background-size: cover !important;
    height: 100vh !important;
    width: 100vw !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.horizontal-divider {
    font-weight: bold;
    color: white;
    font-size: large;
}




